html {
	height: 100%;
}


body {
	font-family: Verdana;
	color: #333333;
	margin: 0px;
}

p {
	margin:0px;
}

#outer-wrapper {
	background-color: white;
	max-width: 680px;
	margin: 0 auto;
	padding: 10px;
}

#header {
	margin: 5px;
	padding: 0;
	height: auto;
	width: 100%;
	border-color: grey;
	border-bottom-width: 2px;
	border-style: solid;
	text-align: center;
	
}


#main-wrapper {
	max-width: 430px;
	height: auto;
	float: left;
	margin-bottom: 40px;
}

#sidebar-wrapper {
	max-width: 220px;
	height: auto;
	float: right;
}

h1 {
	font-size: 32px;
	color: #666666;
}

h2 {
	font-size: 16px;
	color: #999999;
}

h3 {
	font-size: 16px;
	color: #CC6600;
}

#sidebar-wrapper img {
	padding-top: 16px;
}

